* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.formulario {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
}
.control {
  width: 100%;
  background: fixed;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  ont-size: 18px;
}

.sabores {
  width: auto;
  padding: 10px;
  margin-bottom: 16px;
  font-family: "calibri";
  font-size: 18px;
}

.decoracion {
  width: auto;
  padding: 10px;
  margin-bottom: 16px;
  font-family: "calibri";
  font-size: 18px;
}

.titulo {
  position: inherit;
  color: whitesmoke;
}

.boton {
  background: #24303c;
  margin-bottom: 10%;
  color: whitesmoke;
  justify-content: space-between;
  padding: 6px;
  margin-right: 12px;
}

body {
  background-image: url("fondoww.jpg");
  width: 100%;
  text-align: justify;
}
