* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.formulario {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
}
.controls {
  width: 100%;
  background: fixed;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
}
.formulario .boton {
  width: 100%;
  background: fixed;
  border: none;
  padding: 12px;
  color: aliceblue;
  margin: 16px 0;
  font-size: 16px;
}
